@import "../colors.scss";

.dropdown-container {
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  right: 26px;
  top: 70px;
  box-shadow: 0px 4px 6px $grey36;
  z-index: 1;
  transition: background-color 0.25s ease-in;

  .dropdown-item {
    width: 160px;
    cursor: pointer;
  }

  .edit {
    color: #828fa3;
  }

  .delete {
    color: #ea5555;
  }
}

.light {
  .dropdown-container {
    background-color: $whiteff;
  }
}

.dark {
  .dropdown-container {
    background-color: $black2b;
  }
}
