@import "./colors.scss";

.button {
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: $whiteff;
  background-color: $purple63;
  padding: 14px 0;
  border-radius: 20px;
  transition: background-color 0.25s ease-in;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.button:hover {
  background-color: $purple4f;
}

.button.primary {
  color: $whiteff;
  background-color: $purple63;
}

.button.primary:hover {
  background-color: $purple4f;
}

.button.secondary {
  color: $purple63;
}

.light {
  .button.secondary {
    background-color: $purple5c;
  }
  .button.secondary:hover {
    background-color: $purple3c;
  }
}

.dark {
  .button.secondary {
    background-color: $whitef4;
  }
  .button.secondary:hover {
    background-color: $greyc8;
  }
}

@media screen and (max-width: 760px) {
  .buttons-container {
    gap: 12px;
  }
}
