@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
@import "react-loading-skeleton/dist/skeleton.css";
.text-purple-63 {
  color: #635fc7;
}

.text-grey-82 {
  color: #828fa3;
}

.heading-xl {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.heading-l {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.heading-m {
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
}

.heading-s {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
}

.body-l {
  font-size: 500;
  font-size: 13px;
  line-height: 23px;
}

.body-m {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-purple-63 {
  color: #635fc7;
}

.text-grey-82 {
  color: #828fa3;
}

.button {
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  background-color: #635fc7;
  padding: 14px 0;
  border-radius: 20px;
  transition: background-color 0.25s ease-in;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.button:hover {
  background-color: #4f4bb4;
}

.button.primary {
  color: #ffffff;
  background-color: #635fc7;
}

.button.primary:hover {
  background-color: #4f4bb4;
}

.button.secondary {
  color: #635fc7;
}

.light .button.secondary {
  background-color: rgba(92, 89, 185, 0.1019607843);
}
.light .button.secondary:hover {
  background-color: rgba(60, 57, 149, 0.1019607843);
}

.dark .button.secondary {
  background-color: #f4f7fd;
}
.dark .button.secondary:hover {
  background-color: #c8cfda;
}

.text-purple-63 {
  color: #635fc7;
}

.text-grey-82 {
  color: #828fa3;
}

textarea:focus,
input:focus {
  outline: none;
}

input,
textarea,
select {
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  padding: 10px 16px;
  width: 100%;
  font-size: 14px;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.2em;
}

input[type=checkbox] {
  cursor: pointer;
  width: 16px;
}

.error-message {
  font-size: 12px;
  margin-top: 4;
  color: #ea5555;
}

.light input,
.light textarea,
.light select {
  background-color: #ffffff;
  color: #20212c;
}
.light .input-label {
  color: #828fa3;
}
.light .array-input-label {
  color: #828fa3;
}

.dark input,
.dark textarea,
.dark select {
  background-color: #20212c;
  color: #ffffff;
}
.dark .input-label {
  color: #c8cfda;
}
.dark .array-input-label {
  color: #c8cfda;
}

.text-purple-63 {
  color: #635fc7;
}

.text-grey-82 {
  color: #828fa3;
}

.sidebar {
  color: #828fa3;
  position: sticky;
  z-index: 1;
}
.sidebar .board {
  display: flex;
  padding: 15px 92px 15px 32px;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.sidebar .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}
.sidebar .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.sidebar .theme-slider {
  margin: 0 24px;
  padding: 14px 54px;
  border-radius: 6px;
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 24px;
}
.sidebar .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.sidebar .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  top: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.sidebar input:checked + .slider {
  background-color: #635fc7;
}
.sidebar input:focus + .slider {
  box-shadow: 0 0 1px #635fc7;
}
.sidebar input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}
.sidebar .slider.round {
  border-radius: 20px;
}
.sidebar .slider.round:before {
  border-radius: 50%;
}
.sidebar .control-container {
  width: 100%;
  position: absolute;
  bottom: 40;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.sidebar .bottom-sidebar {
  position: absolute;
  bottom: 40px;
}
.sidebar .sidebar-bottom-control {
  display: flex;
  padding: 15px 92px 15px 32px;
  gap: 16px;
  align-items: center;
  transition: all 0.25s ease-in;
  color: #828fa3;
  cursor: pointer;
}
.sidebar .sidebar-bottom-control:hover {
  background-color: #efeff9;
  color: #635fc7;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.sidebar .sidebar-bottom-control:hover path {
  fill: #635fc7;
}

.sidebar.container {
  width: 300;
  height: calc(100vh - 80px);
  position: absolute;
  left: 0;
  top: 80px;
  padding: 32px 24px 32px 0;
  transition: background-color 0.25s ease-in;
}

.show-sidebar {
  padding: 19px 22px 19px 19px;
  background-color: #a8a4ff;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  position: absolute;
  bottom: 80px;
  cursor: pointer;
}

.light .sidebar.container {
  background-color: #ffffff;
  border-right: 2px solid #e4ebfa;
}
.light .sidebar.container .theme-slider {
  background-color: #f4f7fd;
}

.dark .sidebar.container {
  background-color: #2b2c37;
  border-right: 2px solid #3e3f4e;
}
.dark .sidebar.container .theme-slider {
  background-color: #20212c;
}

.text-purple-63 {
  color: #635fc7;
}

.text-grey-82 {
  color: #828fa3;
}

.controlbar {
  transition: background-color 0.25s ease-in;
}
.controlbar .left-container {
  display: flex;
  padding: 0px 32px 0px 27px;
}
.controlbar .left-container-divider {
  margin: 0 32px 0 120px;
  position: relative;
  height: 100%;
}
.controlbar .board-title {
  margin: auto;
  padding: 20px 0 28px 0;
}
.controlbar .right-container {
  display: flex;
  gap: 24px;
  align-items: center;
  padding-right: 32px;
}
.controlbar .button-new-task {
  background-color: #635fc7;
  border-radius: 24px;
  padding: 14px 24px;
  color: white;
}

.controlbar.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.light .controlbar {
  background-color: #ffffff;
}
.light .controlbar .board-title {
  color: #000112;
}
.light .controlbar .left-container-divider {
  border-right: 2px solid #e4ebfa;
}
.light .controlbar.container {
  border-bottom: 2px solid #e4ebfa;
}

.dark .controlbar {
  background-color: #2b2c37;
}
.dark .controlbar .board-title {
  color: #ffffff;
}
.dark .controlbar .left-container-divider {
  border-right: 2px solid #3e3f4e;
}
.dark .controlbar.container {
  border-bottom: 2px solid #3e3f4e;
}

.text-purple-63 {
  color: #635fc7;
}

.text-grey-82 {
  color: #828fa3;
}

.task-detail-modal .children-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.task-detail-modal .children-container .sub-task-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.task-detail-modal .children-container .sub-task-container .sub-task-item {
  display: flex;
  gap: 16px;
  padding: 12px;
  border-radius: 4px;
  background-color: #f4f7fd;
}

.text-purple-63 {
  color: #635fc7;
}

.text-grey-82 {
  color: #828fa3;
}

.dropdown-container {
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  right: 26px;
  top: 70px;
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.1019607843);
  z-index: 1;
  transition: background-color 0.25s ease-in;
}
.dropdown-container .dropdown-item {
  width: 160px;
  cursor: pointer;
}
.dropdown-container .edit {
  color: #828fa3;
}
.dropdown-container .delete {
  color: #ea5555;
}

.light .dropdown-container {
  background-color: #ffffff;
}

.dark .dropdown-container {
  background-color: #2b2c37;
}

.text-purple-63 {
  color: #635fc7;
}

.text-grey-82 {
  color: #828fa3;
}

.centered-modal-parent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-modal-background {
  width: 100vw;
  height: 100vh;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
}

.children-form-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.centered-modal-container {
  padding: 32px;
  position: absolute;
  border-radius: 6px;
  width: 500px;
  transition: background-color 0.25s ease-in;
}
.centered-modal-container .title {
  margin-bottom: 24px;
  text-transform: capitalize;
}
.centered-modal-container .title.red {
  color: #ea5555;
}
.centered-modal-container .title.black {
  color: #000112;
}

.light .centered-modal-container {
  background-color: white;
}
.light .centered-modal-container .title {
  color: #000112;
}

.dark .centered-modal-container {
  background-color: #2b2c37;
}
.dark .centered-modal-container .title {
  color: #ffffff;
}

.text-purple-63 {
  color: #635fc7;
}

.text-grey-82 {
  color: #828fa3;
}

.delete-modal .button-container {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.delete-modal .button-container .button {
  width: 50%;
  padding: 14px 0;
  border-radius: 20px;
  transition: background-color 0.25s ease-in;
}
.delete-modal .button-container .button.delete {
  background-color: #ea5555;
  color: #ffffff;
}
.delete-modal .button-container .button.delete:hover {
  background-color: #d03f3f;
}
.delete-modal .button-container .button.cancel {
  color: #635fc7;
}

.light .button.cancel {
  background-color: rgba(96, 93, 199, 0.1019607843);
}

.dark .button.cancel {
  background-color: #ffffff;
}
.dark .button.cancel:hover {
  background-color: #c8cfda;
}

.text-purple-63 {
  color: #635fc7;
}

.text-grey-82 {
  color: #828fa3;
}

.taskboard {
  height: calc(100vh - 80px);
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.taskboard.empty {
  align-items: center;
  justify-content: center;
}
.taskboard.empty .add-button {
  background-color: #635fc7;
  border-radius: 24px;
  padding: 18px 24px;
  color: #ffffff;
}

.taskboard.main {
  padding-top: 24px;
  gap: 24px;
  transition: background-color 0.25s ease-in;
}
.taskboard.main .main-container {
  display: flex;
}
.taskboard.main .main-container .column-parent {
  width: 280px;
  margin-bottom: 24px;
  margin-left: 24px;
}
.taskboard.main .main-container .heading-s {
  color: #828fa3;
}
.taskboard.main .main-container .task-container {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}
.taskboard.main .main-container .task-container .task-item {
  width: 280px;
  padding: 24px 16px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.1);
  transition: box-shadow 0.25s linear;
}
.taskboard.main .main-container .task-container .task-item:hover {
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.1019607843);
}
.taskboard.main .main-container .task-container .empty-column {
  height: calc(100vh - 200px);
  width: 280px;
  border-radius: 6px;
}
.taskboard.main .main-container .new-column {
  width: 100%;
  border-radius: 6px;
  margin: 40px 40px 0 24px;
  background: linear-gradient(to bottom, rgba(121, 132, 147, 0.2), rgba(130, 143, 163, 0.1), rgba(130, 143, 163, 0));
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.taskboard.main .main-container .new-column .new-column-text {
  width: 280px;
  text-align: center;
}

.light .taskboard {
  background-color: #f4f7fd;
}
.light .taskboard .task-item {
  background-color: #ffffff;
  color: #000112;
}
.light .taskboard .empty-column {
  border: 2px dashed #c8cfda;
}

.dark .taskboard {
  background-color: #20212c;
}
.dark .taskboard .task-item {
  background-color: #2b2c37;
  color: #ffffff;
}
.dark .taskboard .empty-column {
  border: 2px dashed #3e3f4e;
}

.text-purple-63 {
  color: #635fc7;
}

.text-grey-82 {
  color: #828fa3;
}

.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
.auth .auth-wrapper {
  width: 450px;
  background-color: white;
  border-radius: 10px;
  padding: 36px 32px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.auth .auth-wrapper .form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.auth .auth-wrapper .form-section .title {
  margin: 24px 0;
}
.auth .auth-wrapper .form-section form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-bottom: 12px;
}
.auth .auth-wrapper .form-section form label {
  font-size: 13px;
  color: #20212c;
}
.auth .auth-wrapper .form-section form .form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.auth .auth-wrapper .social-login {
  display: flex;
  width: 100%;
  gap: 12px;
}
.auth .auth-wrapper .social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 50%;
  text-align: center;
  font-size: 13px;
  border: 1px solid #635fc7;
  color: #635fc7;
  padding: 10.5px 0;
  border-radius: 20px;
  transition: background-color 0.25s ease-in;
}
.auth .auth-wrapper .social-button:hover {
  background-color: #f4f7fd;
}
.auth .auth-wrapper .navigate {
  padding-top: 16px;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Plus Jakarta Sans, ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  line-height: 1;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-32 {
  margin-bottom: 32px;
}

.input-label {
  margin-bottom: 8px;
}

.array-input-label {
  margin-bottom: -4px;
}

.cursor-pointer {
  cursor: pointer;
}

.main-container {
  overflow-y: hidden;
}

/*# sourceMappingURL=globals.css.map */
