@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
.text-purple-63 {
  color: #635fc7;
}

.text-grey-82 {
  color: #828fa3;
}

.heading-xl {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.heading-l {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.heading-m {
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
}

.heading-s {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
}

.body-l {
  font-size: 500;
  font-size: 13px;
  line-height: 23px;
}

.body-m {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.uppercase {
  text-transform: uppercase;
}

.heading-xl {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.heading-l {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.heading-m {
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
}

.heading-s {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
}

.body-l {
  font-size: 500;
  font-size: 13px;
  line-height: 23px;
}

.body-m {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.uppercase {
  text-transform: uppercase;
}

.text-purple-63 {
  color: #635fc7;
}

.text-grey-82 {
  color: #828fa3;
}

.light .heading-xl .heading-l .heading-m .body-l .body-m {
  color: #000112;
}
.light .heading-s {
  color: #828fa3;
}

.text-purple-63 {
  color: #635fc7;
}

.text-grey-82 {
  color: #828fa3;
}

.text-purple-63 {
  color: #635fc7;
}

.text-grey-82 {
  color: #828fa3;
}

.sidebar {
  color: #828fa3;
}
.sidebar .board {
  display: flex;
  padding: 15px 92px 15px 32px;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.sidebar .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}
.sidebar .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.sidebar .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.sidebar .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  top: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.sidebar input:checked + .slider {
  background-color: #635fc7;
}
.sidebar input:focus + .slider {
  box-shadow: 0 0 1px #635fc7;
}
.sidebar input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}
.sidebar .slider.round {
  border-radius: 20px;
}
.sidebar .slider.round:before {
  border-radius: 50%;
}
.sidebar .control-container {
  width: 100%;
  position: absolute;
  bottom: 40;
  display: flex;
  flex-direction: column;
  gap: 24;
}
.sidebar .hide-sidebar {
  display: flex;
  padding: 15px 92px 15px 32px;
  gap: 16px;
  align-items: center;
  transition: all 0.25s ease-in;
  color: #828fa3;
  cursor: pointer;
}
.sidebar .hide-sidebar:hover {
  background-color: #efeff9;
  color: #635fc7;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.sidebar .hide-sidebar:hover path {
  fill: #635fc7;
}

.sidebar.container {
  border-right: 2px solid #e4ebfa;
  width: 300;
  height: calc(100vh - 80px);
  position: absolute;
  left: 0;
  top: 80px;
  padding: 32px 24px 32px 0;
  background-color: #ffffff;
}

.controlbar .left-container {
  display: flex;
  padding: 0px 32px 0px 28px;
}
.controlbar .left-container-divider {
  border-right: #e4ebfa 2px solid;
  margin: 0 32px 0 119px;
  position: relative;
  height: 100%;
}
.controlbar .board-title {
  margin: auto;
  padding: 20px 0 28px 0;
}
.controlbar .button-new-task {
  background-color: #635fc7;
  border-radius: 24px;
  padding: 14px 24px;
  color: white;
}
.controlbar .dropdown-container {
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  right: 24px;
  top: 72px;
  box-shadow: #e4ebfa 0px 1px 4px;
  z-index: 1;
}
.controlbar .dropdown-container .dropdown-item {
  width: 160px;
  cursor: pointer;
}
.controlbar .dropdown-container .edit {
  color: #828fa3;
}
.controlbar .dropdown-container .delete {
  color: #ea5555;
}

.controlbar.container {
  border-bottom: 2px solid #e4ebfa;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Plus Jakarta Sans, ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  line-height: 1;
}

textarea:focus,
input:focus {
  outline: none;
}

input {
  background: #ffffff;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  padding: 10px 16px;
  width: 100%;
  font-size: 14px;
}

.input-label {
  margin-bottom: 8px;
  color: #828fa3;
}

/*# sourceMappingURL=globals.css.map */
