@import "../colors.scss";

.controlbar {
  transition: background-color 0.25s ease-in;

  .left-container {
    display: flex;
    padding: 0px 32px 0px 27px;
  }

  .logo {
    display: flex;
  }

  .logo-mobile {
    display: none;
  }

  .board-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .chevron-down {
    display: none;
  }

  .left-container-divider {
    margin: 0 32px 0 120px;
    position: relative;
    height: 100%;
  }

  .board-title {
    margin: auto;
    padding: 20px 0 28px 0;
  }

  .right-container {
    display: flex;
    gap: 24px;
    align-items: center;
    padding-right: 32px;
  }

  .button-new-task {
    background-color: #635fc7;
    border-radius: 24px;
    padding: 14px 24px;
    color: white;
  }

  .button-new-task-mobile {
    display: none;
  }

  @media screen and (max-width: 760px) {
    .logo {
      display: none;
    }

    .logo-mobile {
      display: block;
      margin-right: 24px;
    }

    .board-title {
      max-width: 140px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .chevron-down {
      display: block;
      cursor: pointer;
      margin-left: 6px;
    }

    .button-new-task {
      display: none;
    }

    .button-new-task-mobile {
      display: block;
      background-color: #635fc7;
      border-radius: 16px;
      padding: 8px 16px;
      color: white;
    }
  }
}

.controlbar.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.light {
  .controlbar {
    background-color: $whiteff;

    .board-title {
      color: $black00;
    }

    .left-container-divider {
      border-right: 2px solid $greye4;
    }
  }

  .controlbar.container {
    border-bottom: 2px solid $greye4;
  }
}

.dark {
  .controlbar {
    background-color: $black2b;

    .board-title {
      color: $whiteff;
    }

    .left-container-divider {
      border-right: 2px solid $grey3e;
    }
  }

  .controlbar.container {
    border-bottom: 2px solid $grey3e;
  }
}
