.controlbar {
  .left-container {
    display: flex;
    padding: 0px 32px 0px 28px;
  }

  .left-container-divider {
    border-right: #e4ebfa 2px solid;
    margin: 0 32px 0 120px;
    position: relative;
    height: 100%;
  }

  .board-title {
    margin: auto;
    padding: 20px 0 28px 0;
  }

  .button-new-task {
    background-color: #635fc7;
    border-radius: 24px;
    padding: 14px 24px;
    color: white;
  }
}

.controlbar.container {
  border-bottom: 2px solid #e4ebfa;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
