@import "../colors.scss";

.delete-modal {
  .button-container {
    display: flex;
    gap: 16px;
    margin-top: 16px;

    .button {
      width: 50%;
      padding: 14px 0;
      border-radius: 20px;
      transition: background-color 0.25s ease-in;
    }

    .button.delete {
      background-color: $redea;
      color: $whiteff;
    }

    .button.delete:hover {
      background-color: $redd0;
    }

    .button.cancel {
      color: $purple63;
    }
  }
}

.light {
  .button.cancel {
    background-color: $purple60;
  }
}

.dark {
  .button.cancel {
    background-color: $whiteff;
  }
  .button.cancel:hover {
    background-color: $greyc8;
  }
}
