@import "../colors.scss";

.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;

  .auth-wrapper {
    width: 450px;
    background-color: white;
    border-radius: 10px;
    padding: 36px 32px;
    boxshadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }

  .google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    border: 1px solid $purple63;
    color: $purple63;
    padding: 10.5px 0;
    border-radius: 20px;
    transition: background-color 0.25s ease-in;
  }

  .google-button:hover {
    background-color: $whitef4;
  }

  label {
    font-size: 13px;
    color: $black20;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
