@import "../colors.scss";

.taskboard {
  background-color: #f4f7fd;
  height: calc(100vh - 80px);
  display: flex;
  overflow-x: auto;
  padding-right: 40px;
}

.taskboard.empty {
  align-items: center;
  justify-content: center;

  .add-button {
    background-color: $purple63;
    border-radius: 24px;
    padding: 18px 24px;
    color: $whiteff;
  }
}

.taskboard.main {
  padding-top: 24px;
  padding-left: 18px;
  gap: 24px;

  .main-container {
    display: flex;
    gap: 24px;

    .column-parent {
      width: 280px;
    }

    .task-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 24px;

      .task-item {
        width: 280px;
        padding: 24px 16px;
        background-color: $whiteff;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 8px;
        box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.1);
        transition: box-shadow 0.25s linear;
      }

      .task-item:hover {
        box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.3);
      }

      .empty-column {
        height: calc(100vh - 200px);
        width: 280px;
        border: 2px dashed $greyc8;
        border-radius: 6px;
      }
    }

    .new-column {
      width: 100%;
      border-radius: 6px;
      margin-top: 40px;
      background: linear-gradient(
        to bottom,
        rgba(121, 132, 147, 0.2),
        rgba(130, 143, 163, 0.1),
        rgba(130, 143, 163, 0)
      );
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      .new-column-text {
        width: 280px;
        text-align: center;
      }
    }
  }
}
