$purple4f: #4f4bb4;
$purple63: #635fc7;
$purplea8: #a8a4ff;
$purple60: #605dc71a;
$purple5c: #5c59b91a;
$purple3c: #3c39951a;
$purpleef: #efeff9;
$black00: #000112;
$black20: #20212c;
$black2b: #2b2c37;
$grey3e: #3e3f4e;
$grey36: #364e7e1a;
$grey82: #828fa3;
$greye4: #e4ebfa;
$greyc8: #c8cfda;
$whitef4: #f4f7fd;
$whiteff: #ffffff;
$redd0: #d03f3f;
$redea: #ea5555;
$redff: #ff9898;

.text-purple-63 {
  color: $purple63;
}

.text-grey-82 {
  color: $grey82;
}
