@import "./colors.scss";
@import "./typography.scss";
@import "./buttons.scss";
@import "./input.scss";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

@import "./components/sidebar.scss";
@import "./components/controlbar.scss";
@import "./components/task-detail-modal.scss";
@import "./components/dropdown-ellipsis.scss";
@import "./components/centered-modal.scss";
@import "./components/delete-modal.scss";
@import "./components/taskboard.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Plus Jakarta Sans, ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  line-height: 1;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-32 {
  margin-bottom: 32px;
}

.input-label {
  margin-bottom: 8px;
}

.array-input-label {
  margin-bottom: -4px;
}

.cursor-pointer {
  cursor: pointer;
}

.main-container {
  overflow-y: hidden;
}
