@import "./colors.scss";
@import "./typography.scss";
@import "./light.scss";
@import "./buttons.scss";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

@import "./components/sidebar.scss";
@import "./components//controlbar.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Plus Jakarta Sans, ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  line-height: 1;
}

textarea:focus,
input:focus {
  outline: none;
}

input,
textarea,
select {
  background: $whiteff;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  padding: 10px 16px;
  width: 100%;
  font-size: 14px;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.2em;
}

.input-label {
  margin-bottom: 8px;
  color: $grey82;
}
